<h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>

<ul class="article_meta">

{{ if .Params.author }}
<li>
    {{ with .Params.author }}By <span class="author_name">{{ . }}</span>{{ end }}
</li>
{{ end }}

{{ if .Date }}
<li>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format "2 January 2006" }}
    Published on <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
</li>
{{ end }}

<li>
    {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
    Read in <span class="reading_time">{{ .ReadingTime }} {{ $readTime }}</span>
</li>

</ul>

{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

{{ if .Draft }}<div class="admonition warning">
  <div class="admonition-title">Draft article</div>
  <p>This article is a draft and the content may change.</p>
</div>
{{ end }}